<% if (site.tags.length) { %>
    <div class="widget-wrap">
        <h1 class="widget-title"><%= __('widget.tags') %></h1>
        <div class="widget">
            <%- list_tags() %>
        </div>
    </div>
<% } %>