<% if (site.tags.length) { %>
    <div class="widget-wrap">
        <h1 class="widget-title"><%= __('widget.tag_cloud') %></h1>
        <div class="widget tagcloud">
            <%- tagcloud() %>
        </div>
    </div>
<% } %>