color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39
color-github = #000
color-linkedin = #4875B4

.article-share-links a
	width: 50px
	line-height: 36px

.profile-block.social-links a, .article-share-links a
	text-align: center
	display: inline-block
	position: relative
	color: color-default
	&:before
		font-size: 20px
		absolute-center(@font-size)
		text-align: center
	&:hover
		color: #fff

[class*="share-"]
	&:before
		font-family: FontAwesome

.share-twitter
	&:before
		content: "\f099"
	&:hover
		background: color-twitter

.share-facebook
	&:before
		content: "\f09a"
	&:hover
		background: color-facebook

.share-pinterest
	&:before
		content: "\f231"
	&:hover
		background: color-pinterest

.share-google
	&:before
		content: "\f1a0"
	&:hover
		background: color-google

.share-github
	&:before
		content: "\f09b"
	&:hover
		background: color-github

.share-linkedin
	&:before
		content: "\f0e1"
	&:hover
		background: color-linkedin
