
/*
	Contact Form Section
 */

input,
textarea {
	box-sizing: border-box
	font-family: inherit
	background-color: color-background-secondary
	border:none
	font-size: 1em;
	border-radius: 5px;
	border-bottom: #CCC solid 1px;
	padding:13px 8px;
	font-weight:300;
	margin-bottom:10px;
	width:100%;
}

input[type='submit']
	width: auto
	float: right
	cursor: pointer
	&:hover
		background: color-accent
		color: white

form {
	width:100%;
	margin: 0;
	display: inline-block;
}
