
/*
	Contact Form Section
 */

input,
textarea {
	box-sizing:border-box;
	background-color:transparent;
	border:none;
	border-bottom:#CCC solid 1px;
	padding:13px 8px;
	font-weight:300;
	margin-bottom:10px;
	width:100%;
}
input[type='submit'] {
	color:white;
	background-color:#2196f3;
	width:auto;
	float:right;
}

form {
	width:100%;
	margin: 0;
	display: inline-block;
}
