#page-header,
.profile-block:first-child
	border-bottom: 6px solid color-accent
	padding-top: 60px

#page-header
	z-index: 10
	font-size: 1.5em
	line-height: 50px
	width: 100%
	text-align: right
	@media mq-tablet
		line-height: 30px
		text-align: left
	&.docked
		position: fixed
	[data-toggle-button]
		display: inline-block
		width: 50px
		border-left: 1px solid color-default
		text-align: center
		@media mq-tablet
			display: none
	[data-toggle-menu]
		font-size: 80%
		position: absolute
		background: color-accent
		visibility: hidden
		right: -20px
		opacity: 0
		transition: ease 0.2s
		@media mq-tablet
			width: 100%
			visibility: visible
			opacity: 1
			background: transparent
			position: static
			display: block
	&.on
		nav *[data-toggle-menu]
			visibility: visible
			opacity: 1
			right: 0

#page-header nav a:hover
	box-shadow: 0px 6px 0px 0px white

header nav a
	padding: 0 10px
	display: block
	text-align: right
	padding: 0 15px
	color: color-default
	&:nth-child(even)
		background: rgba(0,0,0,0.1)
	@media mq-tablet
		display: inline-block
		background: inherit !important

#search-form-wrap
	display:none
	@media mq-mini
		display: none
	.search-form
		position: relative
		.search-form-input
			width: 100%
			height: logo-height
			padding: 0 30px 0 15px
			line-height: logo-height
			border-radius: ((logo-height + 2)/2)
			&::-webkit-search-results-decoration
			&::-webkit-search-cancel-button
				-webkit-appearance: none
		.search-form-submit
			top: 50%
			right: 15px
			border: none
			cursor: pointer
			margin-top: -7px
			background: none
			position: absolute
			font: 13px font-icon
			font-family: 'FontAwesome'
			&:before
				content: '\f002'
			&:hover, &:focus
				color: #777

.search-form-input,
.search-form-input.st-ui-search-input,
.search-form-input.st-default-search-input
	-webkit-appearance: textarea
	appearance: textarea
	padding: 0
	width: 200px
	box-shadow: none
	color: color-default
	transition: 0.2s ease
	box-sizing: border-box
	height: auto !important
	line-height: line-height
	outline: none !important
	background: none !important
	font: font-size font-sans
	border: 1px solid color-border !important
	&:focus
		border-color: color-link !important
	&::-webkit-search-results-decoration
	&::-webkit-search-cancel-button
		-webkit-appearance: none
