#profile
	position: absolute
	top: 0
	left: 30px
	height: 0
	z-index: 999
	margin-bottom: 10px
	@media mq-tablet
		position: static !important
		height: auto
	&.on
		position: fixed
		height: auto
	[data-toggle-menu]
		transition: top 0.2s ease
		top: -200px
		position: relative
		width: 100%
		@media mq-tablet
			top: 0
			visibility: visible
	&.on [data-toggle-menu]
		margin-top: 5px
		top: 0

.on
	.profile-block.name:before
		transform: rotate(0)

.profile-block
	text-align: center
	padding: 15px 0px
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 4px
	border: 1px solid #eee
	transition: 0.2s linear
	position: relative
	opacity: 0
	background-color: color-background-secondary
	@media mq-tablet
		background-color: color-background
		border: none
		color: color-default
		opacity: 1
		top: 0
	@media mq-normal
		display: block;
		float: right;
		box-sizing: border-box;
		clear: both;
	&.name
		padding-bottom: 0
		line-height: 50px
		background: transparent
		&:before
			transition-duration: 0.3s
			font-family: FontAwesome
			content: "\f078"
			transform: rotate(-90deg)
			position: absolute
			display: inline-block;
			left: -30px
			text-align: center
			width: 30px
			font-size: 0.8em
			color: color-accent
			@media mq-tablet
				display: none
		@media mq-tablet
			background: color-background-secondary
			text-align: center
			font-size: 1.9em
		@media mq-normal
			font-size: 2em
	&.avatar
		padding: 0
		height: 170px
		background-size: cover
		background-position: center center
		border: none
	&.base-info
		text-align: center
		#avatar
			display: block
			margin: 10px auto 20px
			width: profile-avatar-size
			height: profile-avatar-size
		#name, #title, #location
			display: block
			text-align: center
		#name
			font-size: 20px
			font-weight: 600
		#location
			font-size: font-size - 2
			margin-top: 5px
			color: color-default + #444
			.fa
				margin-right: 5px
	&.social-links
		padding: 0
		a
			width: 50px
			line-height: 50px
			position: relative
			transition: 0.2s ease

.profile-block[data-toggle-menu]
	@media mq-tablet
		display: block

#page-title-ribbon
	display: block
	opacity: 1
	max-width: inherit
	z-index: 1000
	text-align: left
	border: none;
	border-bottom: none
	color: color-accent
	padding: 0 6px 0 0;
	box-shadow: none
	z-index: 1000
	font-size: 2.3em
	width: calc(100vw - 90px)
	@media mq-tablet
		width: inherit
		font-size: 1.75em
		text-align: center
		padding: 60px 0 0 0
		border-bottom: 6px solid color-accent
	@media mq-normal
		font-size: 1.9em
	&.docked
		position: fixed
		animation: scrollin-delay 2s


@keyframes scrollin-delay {
    0%   {top: -200px}
    50%   {top: -200px}
    100% {top: 0px}
}

#profile.on
	.profile-block
		opacity: 1
		top: 0
		z-index: 900
		&:first-of-type
			display: block
