#sidebar
	display: none
	h1
		margin-bottom: 5px
		
	line-height: 1.2
	a
		color: inherit
	@media mq-tablet
		display: inline-block
	.thumbnail-none
		background: no-repeat center url(/images/thumb-default-small.png) #d5d5d5;
	li span[class*="-count"]
		&:before
			content: ' ('
		&:after
			content: ')'

.widget-wrap
	border-bottom: 1px solid #eceff2;
	margin-bottom: 4px;
	p
		font-size: 0.9em
		margin-bottom: 0.4em
	ul ul
		margin-top: 0.3rem
		padding-left: 20px
	li
		margin-bottom: 0.6rem
		overflow: auto
	.item-title
		font-weight: bold
	.item-date
		color: #999

#recent-post
	overflow:hidden
	> a
		overflow: hidden
		height: 5em
		width: 100%
		background-color: #eee
		margin-bottom: 0.4em
		display: block
		background-position: center center
		background-size: cover
		margin-right: 0.7em
		position: relative
		&:hover
			.label span
				background: color-accent
				color: white
	.label
		bottom: .2em;
		left: .2em;
		right: .2em;
		padding: 2px;
		color: #fff;
		font-style: normal;
		position: absolute;
		z-index: 3;
		span
			padding: 0.05em;
			background: rgba(0,0,0,0.7);
			font-size: 1.2em;
			line-height: .9;

#toTop
	text-align: center
	width: 64px
	height: 64px
	font-size: 32px
	@media mq-mobile
		width: 54px
		height: 54px
		font-size: 28px
	@media mq-mini
		width: 54px
		height: 54px
		font-size: 28px
	&.fix
		bottom: 20px
		position: fixed
